body {
    font-family: 'Fira Sans';
    font-size: medium;
    line-height: 1.5em;
    margin: auto;
    max-width: 32em;
    padding: 1em;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
}